<div class="row">
  <div class="large-12">
    <% if !@question.nil? %>
      <h1><%= @question.title %></h1>

      <p><%= @question.body %></p>

      <h2>Answers</h2>

      <% @answers.each do |answer| %>
        <%= answer.body %>
      <% end %>
    <% else %>
      <h1>No questions exist.</h1>
    <% end %>
  </div>
</div>
