<div class="row">
  <div class="large-12">
    <h1>New User</h1>

    <%= form_for @user do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </br></br>

      <%= f.submit "Create New User" %>
    <%- end -%>
  </div>
</div>
